<!DOCTYPE html>
<html lang="en">
<head>

    <title>Graficos</title>
    <script src="../../public/scripts/admin.js"></script>
    <%- include('../partials/head'); %>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>

</head>
<body>

    <header>
        <%- include('../partials/header'); %>
    </header>

<main>
    <div>
        <h1 class="text-center">Admin Manager</h1>
        
        <div class="flex flex-col flex-grow justify-end pb-20">
          <div class="gap-x-6 flex mx-auto">
              <a class="border-[3px] border-gray-600 bg-gray-600 text-sm rounded font-medium text-white px-12 py-2 inline-block transition-colors
               hover:border-gray-500 hover:bg-gray-500 hover:text-black" 
              href="/listaproductos">
              Productos
              </a>
              <a class="border-[3px] border-gray-600 bg-gray-600 text-sm rounded font-medium text-white px-12 py-2 inline-block transition-colors
               hover:border-gray-500 hover:bg-gray-500 hover:text-black" 
              href="/listausuarios">
              Clientes
              </a>
              <a class="border-[3px] border-gray-600 bg-gray-600 text-sm rounded font-medium text-white px-12 py-2 inline-block transition-colors
               hover:border-gray-500 hover:bg-gray-500 hover:text-black" 
              href="/listavendedores">
              Vendedores
              </a>
              <a class="border-[3px] border-gray-600 bg-gray-600 text-sm rounded font-medium text-white px-12 py-2 inline-block transition-colors
               hover:border-gray-500 hover:bg-gray-500 hover:text-black" 
              href="/listaventas">
              Ventas
              </a>
          </div>
      </div>
    </div>
</main>


    <%- include('../partials/footer'); %>


</body>
</html>