<title>Ups algo salio mal</title>
    <%- include('../partials/head'); %>

<body>
  
    <main>
        <h1>Algo salió mal!</h1>
    </main>

    <%- include('../partials/footer'); %>


</body>

</html>