<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pagar</title>
    <%- include('../partials/head'); %>
    <script src="/scripts/cart.js"></script>
    <script>
  
        </script>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>

        <div>
            <h1>COMPRA EXITOSA</h1>
        </div>
        

        

    </main>

    <%- include('../partials/footer'); %>

</body>
</html>