

    <%- include('../partials/head'); %>

<body>

    <main>
        <h1>Aca se recupera la cuenta</h1>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>