
    <title>Registro Vendedor</title>
    <%- include('../partials/head'); %>

<body>

    <div class="container" id="contenedorregistro">
    <form action="signupvendedor" method="post">
      <div class="mb-3 mt-3">
        <label for="name" class="form-label">Nombre:</label>
        <input type="text" class="form-control" id="nombre" placeholder="Introduzca su nombre" name="nombre">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Introduzca el email" name="email">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input type="password" class="form-control" id="password" placeholder="Introduzca la contraseña" name="password">
    </div>
      <div class="mb-3">
        <label for="documento" class="form-label">Documento:</label>
        <input type="number" class="form-control" id="documento" placeholder="Introduzca el Documento" name="documento">
      </div>
      <div class="mb-3">
        <label for="telefono" class="form-label">Telefono:</label>
        <input type="number" class="form-control" id="telefono" placeholder="Introduzca el telefono" name="telefono">
        <input type="text" hidden id="rol" name="rol">
      </div>

      <input type="submit" class="btn btn-primary bg-black">
    </form>
    </div>

        <%- include('../partials/footer'); %>

</body>
</html>