<!DOCTYPE html>
<html lang="en">
<head>
  <title>Registro</title>
  <%- include('../partials/head'); %>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
      <div class="h-screen bg-slate-50 flex justify-center items-center w-full">
          <form action="signup" method="post">
            <div class="bg-white px-10 py-8 rounded-xl w-screen shadow-md max-w-sm">
              <img class="h-14 mb-4 mx-auto" src="https://www.synointcdn.com/wp-content/uploads/2019/04/Amazon-Logo-PNG.png" alt="">
              <div class="space-y-4">
                <h1 class="text-center text-2xl font-semibold text-gray-600">Registro</h1>
                <div>
                  <label for="name" class="form-label block mb-1 text-gray-600 font-semibold">Nombre:</label>
                  <input type="text" class="bg-indigo-50 px-4 py-2 outline-none rounded-md w-full" id="nombre" name="nombre" />
                </div>
                <div>
                  <label for="email" class="block mb-1 text-gray-600 font-semibold">Email</label>
                  <input type="email" class="bg-indigo-50 px-4 py-2 outline-none rounded-md w-full" id="email" name="email" />
                </div>
                <div>
                  <label for="telefono" class="block mb-1 text-gray-600 font-semibold">Telefono:</label>
                  <input type="number" class="bg-indigo-50 px-4 py-2 outline-none rounded-md w-full" id="telefono" name="telefono"/>
                </div>
                <div>
                  <label for="password" class="block mb-1 text-gray-600 font-semibold">Password</label>
                  <input type="password" class="bg-indigo-50 px-4 py-2 outline-none rounded-md w-full" id="password" name="password" required/>
                  <input type="text" name="rol" id="rol" value="cliente" hidden/>
                </div>
              </div>
              <button type="submit" class="mt-4 w-full bg-yellow-500 font-semibold py-2 rounded-md  tracking-wide">Enviar</button>
            </div>
          </form>
        </div>
    </main>


  <%- include('../partials/footer'); %>

</body>
</html>

